extends layout

block content
  section
    h1= title
  
  ul
    each el in data
      p= el.id
        li
          a(href="./detail/"+el.title.value)= el.title.value

  script(src='/dist/bundle.js')
