extends layout

block content
  h1= title
  
  //- pre #{h(data)}
  
  ul
    each el in data
      p= el.id
        li
          a(href="./detail/"+el.title.value)= el.title.value

  script(src='/dist/bundle.js')
