doctype html
html(lang='nl')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    title= title
    block css
      link(rel='stylesheet', href='/css/style.css')
      link(rel='manifest', href='/manifest.json')
  body
    block content
    script.
      if ('serviceWorker' in navigator) {
          navigator.serviceWorker.register('/sw.js')
              .then(function(registration) {
                  console.log('Yay')
              }).catch(function(err) {
                  console.log('Nope')
              });
      } else {
          console.log('No support for service workers omg')
      }
