doctype html
html(lang='nl')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    meta(name='msapplication-TileColor' content='#ffc40d')
    meta(name='theme-color' content='#ffffff')
    title= title
    block css
      link(rel='apple-touch-icon' sizes='180x18' href='favicon/apple-touch-icon.png')
      link(rel='icon' type='image/png' sizes='32x32' href='favicon/favicon-32x32.png')
      link(rel='icon' type='image/png' sizes='16x16' href='favicon/favicon-16x16.png')
      link(rel='manifest' href='favicon/site.webmanifest')
      link(rel='mask-icon' href='favicon/safari-pinned-tab.svg' color='#2e2e2e')
        
      link(rel='stylesheet', href='/css/style.css')
      link(rel='manifest', href='/manifest.json')
  body
    block content
    script.
      if ('serviceWorker' in navigator) {
          navigator.serviceWorker.register('/sw.js')
              .then(function(registration) {
                  console.log('Yay')
              }).catch(function(err) {
                  console.log('Nope')
              });
      } else {
          console.log('No support for service workers omg')
      }
